spring.application.name=projectManagementPlatform
spring.datasource.url=jdbc:postgresql://localhost:5432/devinfo
spring.datasource.username=YOUR_USERNAME
spring.datasource.password=YOUR_PASSWORD
spring.jpa.hibernate.ddl-auto=update

jwt.secret=long-key-here-base64
jwt.experation=seconds